<app-warning-button></app-warning-button>
<hr>
<app-danger-button></app-danger-button>
<hr>
<app-success-button></app-success-button>
<hr>
<app-primary-button></app-primary-button>
<hr>
<app-multi-option-button [buttonText]="'Warning'" [buttonType]="'warning'"></app-multi-option-button>
<app-multi-option-button [buttonText]="'Success'" [buttonType]="'success'"></app-multi-option-button>
<app-multi-option-button [buttonText]="'Danger'" [buttonType]="'danger'"></app-multi-option-button>
<app-multi-option-button [buttonText]="'Primary'" [buttonType]="'primary'"></app-multi-option-button>
<app-multi-option-button></app-multi-option-button>
