.warning-button {
  display: block;
  background-color: #f1c40f;
  padding: 1px 30px;
  outline: none;
  border-radius: 3px;
  width: fit-content;
  transition: all .3s;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.warning-button:hover{
  cursor: pointer;
  background: #f39c12;
}

.warning-button__text{
  color: white;
  font-weight: bold;
  font-size: 10px;
}
