.success-button {
  display: block;
  background-color: #2ecc71;
  padding: 1px 30px;
  outline: none;
  border-radius: 3px;
  width: fit-content;
  transition: all .3s;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.success-button:hover{
  cursor: pointer;
  background: #27ae60;
}

.success-button__text{
  color: white;
  font-weight: bold;
  font-size: 10px;
}
